#bebidas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

#bebidas h2 {
    text-align: center;
    margin-bottom: 20px;
}

#bebidas-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
}

#bebidas-container li {
    width: calc(25% - 20px);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

#bebidas-container li:hover {
    transform: scale(1.05);
}

#bebidas-container img {
    max-width: 100%;
    border-radius: 10px;
}

#bebidas-container h3 {
    margin: 10px 0;
}

#bebidas-container p {
    color: #555;
}

#bebidas-container span {
    font-weight: bold;
    color: #000;
}

/* Botones filtros bebidas */

#filtros-bebidas {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

#filters-container-bebidas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#filtros-bebidas button {
    width: 100px;
    height: 50px;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#filtros-bebidas button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

#filtros-bebidas button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(40,167,69,0.5);
}

#filtros-bebidas button.active {
    background-color: #15b300;
}

#search-bebidas {
    width: 90%;
    max-width: 400px;
    height: 50px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#price-filters-bebidas {
    width: 100%;
    max-width: 300px;

    padding: 20px;

    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;

    border: 1px solid #ccc;
    border-radius: var(--std-borderRadius);

    box-shadow: var(--std-box-shadow);

    transition: all .5s ease;
}

#price-filters-bebidas label,
#price-filters-bebidas input,
#price-filters-bebidas button {
    width: 40%;
    margin: 5px 0;
}

#price-filters-bebidas input {
    max-width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#price-filters-bebidas button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#price-filters-bebidas button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

#price-filters-bebidas button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(40,167,69,0.5);
}
/* Botones Ver Más */

#ver-mas-bebidas {
    width: 150px;
    height: 50px;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: block;
    text-align: center;
}

#ver-mas-bebidas:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#ver-mas-bebidas:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

/* bebidas cont y card */

#bebidas-container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
}


#bebidas-container li {
    width: 90%;
    max-width: 100px;
    height: 300px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    text-align: center;

    border: 1px solid #ccc;
    border-radius: var(--std-borderRadius);
    
    box-shadow: var(--std-box-shadow);

    transition: all .5s ease;
}

#bebidas-container li:hover {
    transform: scale(1.05);
}

#bebidas-container img {
    width: 50px;
    height: 150px;
    border-radius: 10px;
}

#bebidas-container h3 {
    margin: 10px 0;
}
#bebidas-container p {
    color: #555;
}
#bebidas-containers span {
    font-weight: bold;
    color: #000;
}
