/* import header */
@import url(./src/css/header.css);

/* import hero */
@import url(./src/css/hero.css);

/* import product */
@import url(./src/css/product.css);

:root {
    /* standard style */
    --bodybackgroundcolor: #f4f4f4;
    /* Paleta de colores */
    --primary-color: #42b883;
    --primary-color-hover: #339a6d;
    --secondary-color: #347474;
    --secondary-color-hover: #2b5d5d;
    --background-color: #f4f4f4;
    --font-color: #333;
    --font-color-light: #666;
    --white-color: #fff;

    /* Tipografía */
    --font-size-small: 0.9em;
    --font-size-medium: 1.1em;
    --font-size-large: 1.5em;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --line-height: 1.6;

    /* Bordes y sombras */
    --std-borderRadius: 10px;
    --btn-borderRadius: 25px;
    --std-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    --hover-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);

    /* Espaciados */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
    --spacing-xlarge: 32px;

    /* Tamaños de botones */
    --btn-padding: 10px 20px;
    --btn-font-size: 1em;

    /* Inputs */
    --input-padding: 10px;
    --input-border-color: #ccc;
    --input-border-radius: 5px;

    /* Filtros */
    --filter-padding: 12px;
    --filter-border-radius: 20px;

    /* Productos */
    --gap: 20px;

    /* Botones de cantidad */
    --quantity-button-padding: 10px;
    --quantity-button-radius: 50%;
    --quantity-button-font-size: 16px;
}

/* estandar style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: var(--background-color);
    color: var(--font-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}


















/* anim de scroll */

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

section div li {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 10% cover 20%;
    animation-fill-mode: both;
}