@import url(./client.css);
@import url(./payment.css);

/* boton abrir carrito */
.btn-cart {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

/* Estilos generales del carrito */
.cart-cont {
    width: 90%;
    height: 80vh;
    min-width: 300px;
    max-width: 450px;
    padding: 20px;

    position: absolute;
    top: 11vh;
    right: 10px;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-color: #f8f8f8;
    
    border: var(--std-borderColor);
    border-radius: var(--std-borderRadius);
    box-shadow: var(--std-box-shadow);
}

.cart-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.cart-header button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-header button.active {
    background-color: #0056b3;
}

.cart-header button:hover {
    background-color: #0056b3;
}

.cart-items {
    display: none;
    width: 100%;
    overflow-y: auto;
}

.cart-items.active {
    display: block;
}

#cart-item {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

#cart-item li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
#cart-item img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 10px;
}

#cart-item li button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#cart-item li button:hover {
    background-color: #0056b3;
}

#cart-item li .remove-from-cart {
    background-color: #dc3545;
}

#cart-item li .remove-from-cart:hover {
    background-color: #c82333;
}

/* Estilos específicos para los botones de cantidad */
.quantity-controls {
    display: flex;
    gap: 5px;
}

.quantity-controls button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quantity-controls button:hover {
    background-color: #0056b3;
}

.quantity-controls .remove-one {
    background-color: #ffc107;
}

.quantity-controls .remove-one:hover {
    background-color: #e0a800;
}

.quantity-controls .add-to-cart {
    background-color: #28a745;
}

.quantity-controls .add-to-cart:hover {
    background-color: #218838;
}
