.cart-client {
    display: none;
    width: 100%;
    max-height: 400px; /* Ajusta según sea necesario */
    overflow-y: auto;
}

.cart-client.active {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    margin-top: 10px;
}

form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form div {
    margin-top: 10px;
}

#delivery-info.hidden, #apartment-info.hidden {
    display: none;
}

/* boton de guardar info del cliente */
#save-client-info {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#save-client-info:hover {
    background-color: #218838;
    transform: scale(1.05);
}

#save-client-info:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(40,167,69,0.5);
}

#save-message {
    margin-top: 10px;
    font-size: 14px;
    color: green;
}
