#promos {
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

#promos h2 {
    text-align: center;
}

#promos-container {
    width: 100%;

    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    list-style-type: none;
    overflow-x: auto;
    width: 100%;
    scroll-behavior: smooth;
}

#promos-container li {
    width: 90%;
    height: 100%;
    min-width: 200px;
    max-width: 300px;
    min-height: 300px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: end;

    border: 1px solid #ccc;
    border-radius: var(--std-borderRadius);
    box-shadow: var(--std-box-shadow);
    transition: all .5s ease;
}

#promos-container li:hover {
    transform: scale(1.05);
}

#promos-container img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

#promos-container h3 {
    margin: 10px 0;
}

#promos-container p {
}

#promos-container span {
    font-weight: bold;
}
.product-info {
    width: 95%;
    background: rgba(0, 0, 0, 0.13); /* Fondo semitransparente para mejorar la legibilidad */
    padding: 10px;
    border-radius: 10px;
    color: var(--std-fontColor);
    font-weight: 800;
    font-size: 25px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
   
}
.product-info p {
    display: none;
}