#cart {
    padding: 10px;
    position: fixed;
    top: 10vh;
    right: 0;
    width: 90%;
    max-width: 400px;
    height: 88vh;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    z-index: 10;
    overflow-y: auto;

    transform: translateX(100%) scale(0.95);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    pointer-events: none;
}

/* Mostrar carrito con animación de apertura */
#cart.active {
    transform: translateX(0) scale(1);
    opacity: 1;
    pointer-events: auto;
}

/* Cerrar carrito con animación de cierre */
#cart.closing {
    transform: translateX(100%) scale(0.95);
    opacity: 0;
    pointer-events: none;
}

/* botones de etapas del carrito */
.cart-title {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}
.cart-title button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    flex-grow: 1;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.cart-title button:hover {
    background-color: var(--secondary-color);
}

/* Contenido del carrito */
#cart-content {
    margin-top: 5px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#cart-items {
    width: 100%;
    height: 80%;
    padding: 5px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
}
#cart-items li {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow:var(--std-box-shadow);
}
#cart-items li img {
    width: 30%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.cart-item-details{
    width: 65%;
    height: 100%;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.cart-controls{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.btn-restar{
    border: 2px solid grey;
    border-radius: 15px 0px 0px 15px;
    padding: 12px;
    cursor: pointer;
}
.btn-restar:hover{
    background-color: green;
    color: white;
}

.cart-controls span{
    border: 2px solid grey;
    padding: 10px;
    cursor: pointer;
}
.btn-sumar{
    border: 2px solid grey;
    border-radius: 0px 15px 15px 0px;
    padding: 12px;
    cursor: pointer;
}
.btn-sumar:hover{
    background-color: green;
    color: white;
}
button.remove-item {
    height: 30px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
button.remove-item:hover {
    background-color: darkred;
}
.cart-summary {
    text-align: center;
}
#clear-cart {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#clear-cart:hover {
    background-color: darkred;
}

/* Formularios de dirección y pago */

#direccion-form{
    width: 100%;
    height: 85%;
    overflow-y: auto;

    display: none;
    flex-direction: row;
    flex-wrap: wrap;
}
#direccion-form label{
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
}
#direccion-form input{
    width: 50%;
    height: 50px;

    border-radius: 20px;
}

#direccion-form fieldset{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    gap: 10px;
    padding: 10px;
}
#direccion-form fieldset input[type="radio"]{
    width: 10%;
    padding: 5px;
    display: flex;
    align-items: center;
}
#direccion-form fieldset label{
    width: 80%;
}

/* form cliente */
#cliente-form{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
}

#cliente-form label{
    width: 40%;
}
#cliente-form input{
    width: 50%;
    padding: 5px;
}


/* formulario direccion-envio */

#direccion-envio {
    width: 100%;
    margin-top: 20px;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}
#direccion-envio label{
    width: 40%;
    height: 50px;
}
#direccion-envio input{
    width: 50%;
    height: 50px;
}

textarea {
    resize: vertical;
    width: 100%;
    height: 100px;
}

/* Resumen de pago */
#pago-form {
    width: 100%;
    height: 80%;

    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
}
#pago-form h3 {
    width: 100%;
    padding: 5px;
    text-align: center;

    text-wrap: break-word;
}

#resumen-pedido {
    width: 100%;
    overflow-y: auto;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#resumen-pedido p {
    margin: 10px 0;
}

/* Ocultar secciones cuando no están activas */
.hidden {
    display: none;
}

#cart-bubble {
    position: absolute;
    top: 3px;
    right: 20px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    display: none;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    height: 20px;
}

.pedido-whatsapp {
    display: inline-block;
    background-color: #25D366; /* Color verde de WhatsApp */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}
.pedido-whatsapp:hover {
    background-color: #128C7E; /* Color más oscuro al pasar el mouse */
}


/* Estilos responsivos */
@media (max-width: 768px) {


}
