
/* Botones filtros */

#filtros {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.filters-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#filtros button {
    width: 100px;
    height: 50px;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#filtros button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#filtros button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

#filtros button.active {
    background-color: #15b300;
}

#search {
    width: 90%;
    max-width: 400px;
    height: 50px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#price-filters {
    width: 100%;
    max-width: 300px;

    padding: 20px;
    
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;

    border: 1px solid #ccc;
    border-radius: var(--std-borderRadius);
    
    box-shadow: var(--std-box-shadow);

    transition: all .5s ease;
}

#price-filters label, 
#price-filters input, 
#price-filters button {
    width: 40%;
    margin: 5px 0;
}

#price-filters input {
    max-width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#price-filters button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#price-filters button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#price-filters button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

