
#productos{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#productos-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
}

#productos-container li {
    width: 90%;
    max-width: 300px;
    padding: 20px;

    border: 1px solid #ccc;
    border-radius: var(--std-borderRadius);
    
    box-shadow: var(--std-box-shadow);

    transition: all .5s ease;
}

#productos-container li:hover {
    transform: scale(1.05);
}

#productos-container img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

#productos-container h3 {
    margin: 10px 0;
}

#productos-container p {
    color: #555;
}

#productos-container span {
    font-weight: bold;
    color: #000;
}

/* Botones Ver Más */

#ver-mas-productos,
#ver-mas-bebidas {
    width: 150px;
    height: 50px;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: block;
    text-align: center;
}

#ver-mas-productos:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#ver-mas-productos:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

